body{
  width:400px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.27);
}

.info .funFact{
  font-style: italic;
}

li span {
  font-weight: bold;
}

ul{
  list-style: none;
}

.card{
  border:100px;
}

.info{
  border: 1px;
}